version: '3.8'
services:
  adguard:
    image: adguard/adguardhome
    container_name: adguardhome
    restart: unless-stopped
    ports:
      - 5353:53/tcp   # DNS
      - 5353:53/udp   # DNS
      - 67:67/udp   # DHCP
      - 68:68/udp   # DHCP
      - 3001:3000/tcp # Initial setup
      - 8080:8080   # Web interface (mapped to a different external port)
    volumes:
      - ./adguard/work:/opt/adguardhome/work
      - ./adguard/conf:/opt/adguardhome/conf
    networks:
      - proxy-net

networks:
  proxy-net:
    external: true